.comment-link:hover {
    color: #00ff00;
    text-decoration: underline;
}

.editable {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #2c2f33;
    color: #ffffff;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 15px;
    font-size: 16px;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

.editable:focus {
    border-color: #7289da;
    background-color: #23272a;
    outline: none;
}

.save-comment {
    display: inline-block;
    background-color: #1e1e1e;
    color: #00BBFF;
    border: 2px solid #00BBFF;
    padding: 5px 10px;
    border-radius: 8px;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
    font-size: 14px;
    cursor: pointer;
    margin-left: 10px;
    position: relative;
    overflow: hidden;
}

.save-comment:hover {
    background-color: #00BBFF;
    color: #ffffff;
    box-shadow: 0px 0px 15px rgba(0, 187, 255, 0.5), 0 0 20px rgba(0, 187, 255, 0.3);
    transform: translateY(-2px) scale(1.02);
}

.save-comment::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, rgba(0, 187, 255, 0.4), transparent);
    transform: scale(0);
    transition: transform 0.5s ease;
}

.save-comment:hover::after {
    transform: scale(1);
}

.save-comment:active {
    background-color: #0088cc;
    box-shadow: 0px 0px 10px rgba(0, 136, 204, 0.5);
    transform: translateY(0) scale(1);
}
